/*
Theme Name: manushak.am
Layout: mediaMax768min480
*/

/*media screens*/
@media only screen and (min-width : 480px) and (max-width : 768px){
    #sidebar{
        padding: 1%;
    }
    .specialBlock{
        width: 50%;
        margin: 0;
        display: block;
        float: left;
    }
    .specialConteiner :last-child{
        width: 100%;
    }
    .specialConteiner img{
        border: 1px solid #000000;
        width: 100%;
    }
    .itemContainer{
        margin-left: 0;
    }
    .smaleItem1,.smaleItem2{
        width: 50%;
        height: 180px;
        display: block;
        margin: 0;
        float: left;
        text-align: center;
    }
    .smaleItem3{
        width: 100%;
        height: 180px;
        display: block;
        float: left;
        text-align: center;
    }
    .newArrivals_left{
        margin-right: 213px;
    }
    #content{
        float: left;
    }


}