/*
Theme Name: manushak.am
Layout: mediaMax480px
*/

/*media screens*/
@media only screen and (max-width: 480px) {
    #header{
        padding: 35px 0;
    }
    #content{
        margin: 0;
    }
    .logo{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        display: block;
    }
    .logo p{
        font-size: 60px;
        font-size: 6rem;
        font-size: 20vw;
        margin: 0;
        padding: 0;
    }
    .searchButton{
        right: 50px;
        top: 0;
        
    }
    .specialBlock img{
        width: 100%;
    }
    .specialBlock{
        width: 100%;
        margin: 0;
    }
    .newArrivals_left{
        margin: 0;
    }
    .itemHead{
    }
    .itemContainer{
        margin-top: 30px;
    }
    .itemContainer,
    .categorys,
    .tags
    {
        margin-left: 0;
    }
    .sliderHome{
        display: none;
    }
    .smaleBody{
        margin-top: 0;
    }
    .smaleItem1,.smaleItem2,.smaleItem3{
        width: 100%;
        margin: 0;
        margin-top: 5px;
    }
    .footerColum{
        width: 100%;
        margin: 0;
    }
    .emailForm{
        margin: 0;
        float: none;
        display: block;
    }
    .footerShareBody input[type=email]{
        width: 90%;
        padding: 0;
    }
    .footerShareBody input[type=submit]{
        width: 10%;
    }
    .footerShareButons{
        margin: 0;
        display: block;
        float: none;
    }
    .footerShareBody{
        height: auto;
        padding: 0;
    }

    /*menu*/
    #menu{
        height: auto;
    }
    #primary-navigation{
        position: inherit;
    }
    #primary-navigation ul li{
        float: none;
    }
    #primary-navigation ul li a{
        float: none;
        display: block;
    }
    .userCart, .shop_table, .cart{
        position: relative;
        top: -4px;
        right: 0;
    }
    .catMenu, .cart_totals{
        /*width: 100%;*/
        float: right;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        margin: 20px 5px;
        padding: 0;
        display: inline-block;
    }

    #menu-menu{
        display: none;
    }
    #mobileNav{
        width: 50%;
    }
    #nav-toggle {
        position: absolute;
        left: 10px;
        top: 25px;
    }

    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: #7F00FF;
        position: absolute;
        display: block;
        content: '';
    }
    #nav-toggle span:before {
        top: -10px;
    }
    #nav-toggle span:after {
        bottom: -10px;
    }



    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        transition: all 500ms ease-in-out;
    }
    #nav-toggle.active span {
        background-color: transparent;
    }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
        top: 0;
    }
    #nav-toggle.active span:before {
        transform: rotate(45deg);
    }
    #nav-toggle.active span:after {
        transform: rotate(-45deg);
    }
    /*__________________________________________________*/

    /*Shop items*/
    .shopItem{
        width: 100%;
    }
}