/*
Theme Name: manushak.am
Layout: sidebar
*/
#content{
    margin: 0 auto;
    width: 100%;
}
.newArrivals_left{
    /*float: left;*/
    display: block;
    margin: 0 240px 0 0;
}

#sidebar{
    float: right;
    overflow: hidden;
    width: 200px;
}
#footer{
    clear: both;
    width: 100%;
}
/*sidebar*/
#sidebar{
    /*width: 250px;*/
    /*float: left;*/
    /*margin: 0 20px;*/
    padding: 24px;
    background-color: #ffffff;

}
#sidebar h3{
    padding: 5px;
    border-bottom: 5px solid #7F00FF;

}
#sidebar li{
    margin-bottom: 5px;

}