/*
Theme Name: Manushak
Theme URI:
Author: Armen Asaduryan
Author URI: https://www.facebook.com/asaduryan
Description: 2015 for WordPress.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black
Text Domain: manushak.am

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

body{
    margin: 0;
    padding: 0;
    background-color: #282828;
}

#container{
    /*margin: 0 auto;*/
    width: 100%;
    /*min-height: 1000px; /!* delet*!/*/
    /*max-width: 1400px;*/
.ms-thumb-frame
    -webkit-box-shadow: 10px 10px 5px 0 rgba(38,38,38,1);
    -moz-box-shadow: 10px 10px 5px 0 rgba(38,38,38,1);
    box-shadow: 10px 10px 5px 0px rgba(38,38,38,1);
}
#header{
    width: 100%;
    background-color: #1F1F1F;
}
.underHeader{
    max-width: 960px;
    margin: 0 auto;
}
.logo{
    display: inline-block;
    margin: 0;
}
.logo a{
    text-decoration: none;
}
.logo p{
    font-size: 3rem;
    font-family: 'Rouge Script', cursive;
    color: #7F00FF;
    margin: 0;
    padding: 0;
}
#searchContainer{
    max-width: 1400px;
    margin: 0 auto;
    padding: 5px;
    background-color: #1F1F1F;
    height: 40px;
    z-index: 2;
    display: none;
}
.searchBox{
    max-width: 300px;
    margin: 0 auto;
}
.searchBox input[type='search']{
    box-sizing: border-box;
    width: 100%;
}
.searchBox input[type='text']{
    width: 300px;
    padding: 10px;
    background-color: #ffffff;
    color: #2A2A2A;
    outline: 0;
    border: none;
}
#searchsubmit{
 display: none;
}
.screen-reader-text{
    display: none;
}
.searchButton{
    float: right;
    right: 131px;
    position: absolute;
    padding: 16px 16px;
    cursor: pointer;
}
.searchButton img{
    width: 25px;
    height: 25px;
}


/*__________________SLIDER______________________________*/
.sliderBox{
    width: 100%;
}
.ms-thumb-frame{
    background-color: transparent!important;
    border: none!important;
    border-top: 10px #000000 solid!important;
    text-align: center!important;
}
.ms-tab-context{
    text-shadow: none!important;
    color: #FFFFFF!important;
}
.ms-thumb-ol{
    width: 100%!important;
    left: 0!important;
    margin-top: 5px;
    margin-left: 0!important;
    border-bottom: 5px #7F00FF solid!important;
    border-left: none!important;
    border-right: none!important;
}
/*_________________________Special box_______________________*/
#specialBox{
    padding: 25px 0;
    width: 100%;
    width: 100%;
    background-color: #242424;
}
.specialConteiner{
    margin: 0 auto;
    max-width: 960px;
}

.specialBlock{
    width: 300px;
    height: 180px;
    margin: 0 7px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #000000;

}
.specialBlock img{
    width: 300px;
}
.specialConteiner img{
    position: absolute;

}
.specialConteiner span{
    padding: 15px 0;
    position: absolute;
    text-decoration: none;
    color: #FFFFFF;
    display:inline-block;
    background-color: #7F00FF;
    opacity: 0.7;
    top: 65px;
    font-size: 25px;
    text-align: center;
    margin: auto;
    width: 100%;
 }
/*__________________Content__________________*/
#content{
    max-width: 1400px;
    background-color: #ffffff;
}
.newArrivals_left{
    display: inline-block;
}

.newArrivals,.bestSellers{
    margin-bottom: 30px;
    display: inline-block;
    position: relative;

}
.newArrivals-single{
    max-width: 960px;
    margin: 0 auto;
}
.newArrivalsBox,.bestSellersBox {
    max-width: 950px;
    margin: 0 auto;
}
.boxHeader{
    height: 30px;
    text-align: left;
    font-size: 25px;
    color: #242424;
    padding: 0 15px 0 5px;
}
.showAllBtn{
    padding: 5px 20px;
    text-decoration: none;
    float: right;
    border: 1px #BCB5A7 solid;
    opacity: 0.9;
    font-size: 15px;
    text-align: center;
    color: #BCB5A7;
    font-weight: bold;
}
.newArrivalsItemBox, .bestSellersItemBox{
    /*padding-top: 40px;*/
    background-color: #ffffff;
}
.shopItem{
    width: 300px;
    margin: 5px 7px;
    display: inline-block;
    background-color: #FFFFFF;
    position: relative;
}
.shopItem img{
    border-bottom: 1px #CDCDCD solid;
}
.productPrice{
    width: 66px;
    height: 66px;
    background-color: #7F00FF;
    position: absolute;
    bottom: 0;
    left: 13px;
    z-index: 10;
}
.productPrice h4{
    color: #FFFFFF;
    line-height: 1.923;
    text-align: center;
    margin: 0;
}
.SPprice{
    color: #FFFFFF;
    background-color: #7F00FF;
}
.ittemONsale{
    width: 66px;
    height: 66px;
    background-color: #7F00FF;
    position: absolute;
    top: 0;
    right: 13px;
    z-index: 10;
    color: #ffffff;
    word-wrap: break-word;
}
.itemName{
    padding: 1px;
}
.itemName h3{
    margin: 10px;
    text-align: center;
    float: right;
}
.itemName a{
    text-decoration: none;
    color: #000000;
}
.smaleBox{
    width: 100%;
    display: inline-block;
}
.smaleBody{
    max-width: 960px;
    margin: 0 auto;
    margin-top: 30px;
    border-top: 1px #C0B6A8 solid;
}
.smaleItem1,.smaleItem2{
    width: 220px;
    height: 180px;
    display: inline-block;
    margin: 25px 20px 23px 0;
    background-color: #E1DCD5;
}
.smaleItem3{
    width: 450px;
    height: 180px;
    display: inline-block;
    background-color: #E1DCD5;
}
.smaleBody h4{
    margin: 20px;

}
.smaleBody p{
    margin: 20px;
    font-size: 14px;
    color: #282828;
    font-weight: bold;
}

/*_______________________________________FOOTER_____________________________________*/

#footer{
    width: 100%;
    background-color: #1F1F1F;
}


.footerBox{
}
.footerWidget{
    width: 100%;
    border-bottom: 1px #161616 solid;
    padding-top: 50px;
}
.footerWidgetBox{
    max-width: 960px;
    margin: 0 auto;

}
.footerColum{
    width: 250px;
    height: 195px;
    display: inline-block;
    color: #FFFFFF;
    margin: 0 25px;
}
.emailForm{
    margin: 0 0 0 40px;
    display: inline-block;
    float: left;
}
.footerShareBody{
    height: 115px;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 35px;
}
.footerShareBody form{
    margin: 0;
}
.footerShareBody input[type=email]{
    height: 35px;
    width: 215px;
    background-color: #2A2A2A;
    outline: 0;
    border: 0;
    color: #737373;
    font-style: italic;
    padding: 2px;
}
.footerShareBody input[type=submit]{
    height: 35px;
    width: 35px;
    background-color: #7E7E7E;
    outline:none;
    border-radius: 0;
    border-color: transparent;
    font-weight: bolder;
}
.footerShareButons{
    display: inline-block;
    margin: 0 40px 0 0;
    float: right;
}
.share{
    width: 35px;
    height: 35px;
    margin: 3px;
    display: inline-block;
}
.copyRightBox{
    height: 90px;
    background-color: #2A2A2A;
    color: #909090;
    font-size: 12px;
}
.copyRightContainer{
    max-width: 960px;
    margin: 0 auto;
    padding: 35px 0;

}
.copyRight{
    float: left;
}
.copyRight p{
    margin: 0;
}
.footerMenu{
    float: right;
}
/*___________________________________________________________*/
.itemHead{
    margin-left: 100px;
}
.itemHead h4{
    font-weight: 400;
    font-size: 24px;
    margin: 5px;
    display: inline-block;
}
.itemHead h5{
    color: #ffffff;
    font-size: 8px;
    margin: 0;
    padding: 5px;
    display: inline;
}
.itemBox{
    /*max-width: 960px;*/
    /*margin: 0 10px 20px 10px;*/

    background-color: #ffffff;
    position: relative;
    padding: 5px;
}
.itemBox-single{
    max-width: 960px;
    margin: 0 10px 20px 10px;
    background-color: #ffffff;
    padding: 5px;
}
.entry-date{
    width: 70px;
   height: 70px;  /*delete*/
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    text-align: center;
    border: 3px solid #f5f5f5;
    background-color: #7F00FF;
    color: #ffffff;
}
.day{
    font-weight: 600;
    padding: 10px 0;
    display: block;
    font-size: 20px;
    text-align: center;
}
.month{
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase
}
.itemContainer{
    padding: 5px;
    margin-left: 100px;
}

.itemContainer img{
    overflow: hidden;
    margin: 5px;
}
.categorys,
.tags{
    margin: 5px;
    margin-left: 100px;
}
.categorys a{
    text-decoration: none;
    color: #8a2be2;
}
.tags a{
    text-decoration: none;
    color: #8a2be2;
}
/*___________________________________*/

.shopItemContainer{
    position: relative;
}
.shopItemContainer img{
    width: 100%;
    height: auto;
}
.productImage{
    width: 100%;
    height: 226px;
    overflow: hidden;
}
.controlBT{
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: #ffffff;
    padding: 12px 0;
}
.BTContainer{
    max-width: 200px;
    margin: 0 40px;
    float: right;
}
.CBT{
    display: inline-block;

}

.CBT a{
    padding: 12px;
}
/*_________________CART________________________*/
.userCart{
    z-index: 100;
    position: absolute;
    right: 20px;
    top: 55px;
    background-color: #ffffff;
    display: none;
}

.mini_cart_item{
    width: 100%;
    padding: 5px 0;
}
.mini_cart_item:hover{
    background-color: #e7e7e7;
}
.userCart img{
    display: inline-block!important;
    margin: 2px!important;
    width: 120px!important;
    height: auto!important;

}
.removeItem{
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: red!important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    float: right;
}
.removeItem:hover {
    color: #fff!important;
    background: red;
    cursor: pointer;

}
.cartItemContainer{
    display: block;
    margin: 2px;
    border: 2px #EFEFEF solid;
    padding: 0;
    max-height: 250px;
    overflow-y:auto;
}
.cartItemContainer div{
    margin: 0!important;
}
.cartItemContainer a{
    display: inline-block!important;
    margin: 0 2px!important;
}
.noProduct{
    width: 150px;
    height: 100px;
}
.quantity input{
    width: 35px!important;
    text-align: center;
}
.add_to_cart{
    cursor: pointer;
}
.miniCartButton{
    background-color:#dfbdfa;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:10px 76px;
    text-decoration:none;
    text-shadow:0px 1px 0px #9752cc;
    display: block;
    margin-top: 0;
    text-align: center;
}
.miniCartButton:hover {
    background-color:#bc80ea;
}
.miniCartButton:active {
    position:relative;
    top:1px;
}
.miniCartTotal{
    background-color: #00a400;
    margin: 0!important;
    padding: 10px;
    color: #ffffff;
    text-align: center;
}
.miniCartQuantity{
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    width: 50%;
}
.miniCartQuantity p{
    margin: 0;
    text-decoration: none;
    color: #000000;
}
.miniCartQuantity a{
    text-decoration: none;
    color: #000000;
}
.miniCartPic{
    display: inline-block;
}
.coupon input[type=text]{
    width: 200px!important;
}
/*----------------------MASKED--------------------------*/
div.maskon:before{
    position: relative;
}
.maskOn{
    position: absolute;
    width: 100%;
    background-color: #242424;
    z-index: 100;
    opacity: 0.9;
}

/*_______________________PAGINATION____________________________*/
.woocommerce-pagination{
    margin: 40px 0;
}
.page-numbers.current{
    background: #7F00FF!important;
    color: #ffffff!important;
}

.navigation{
    max-width: 960px;
    margin: 0 auto;
}




/*____________________MENU___________________________*/
#menu{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
}

#primary-navigation{
    max-width: 960px;
    margin: 0 auto;
    position: relative;

}
.catMenu{
    display: inline-block;
    position: absolute;
    right: 20px;
    padding: 20px 20px;
    border-left: 1px #EFEFEF solid;
    border-right: 1px #EFEFEF solid;
    cursor: pointer;
}
.catMenu span{
    color: #ffffff;
    background-color: #7F00FF;
    padding: 2px 5px;
    margin: 5px;
    border-radius: 2px;
}
/* main and secondary top-level navigations */
#primary-navigation {
    font-family: 'Oswald', sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
}
#primary-navigation ul {
    margin:0;
    padding:0;
    list-style:none;
}
#primary-navigation ul li {
    float:left;

}
#primary-navigation ul li:hover{
    background-color: #ece7de;

}
#primary-navigation ul li a {
    padding: 20px 25px;
    border-left: 1px #EFEFEF solid;
    width: 100%;
    float: left;
    color: #000000;
    text-decoration:none;
}
#primary-navigation ul li a:hover,
#primary-navigation ul li:hover > a {
    color: #1312ff;
}
#primary-navigation li ul a:hover,
#primary-navigation ul li li:hover > a  {
    color: #ff0300;
    background-color: #ffffff;
}

#primary-navigation li ul {
    background-color: #ffffff;
    left: -999em;
    margin: 55px 0 0;
    position: absolute;
    z-index: 9999;
}

#primary-navigation li:hover ul {
    left: auto;
}

#primary-navigation li ul a {
    background: none;
    border: 0 none;
    margin-right: 0;
    width: 120px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

#primary-navigation li li ul {
    margin: -1px 0 0 160px;
    visibility:hidden;
}

#primary-navigation li li:hover ul {
    visibility:visible;
}

#primary-navigation ul ul li:last-child > a {


}

#primary-navigation ul ul ul li:first-child > a {
}
.footerMenu a,
.footerMenu ul,
.footerMenu li{
    display: inline;
    color: #898989;
    text-decoration: none;
}
/*top button*/
.topbutton {
    height:50px;
    width:50px;
    position:fixed;
    right:5px;
    bottom:5px;
    z-index:1;
    /*background-image: url("/img/up.ico");*/
    background-repeat:no-repeat;
    display:none;
}
/*info divs*/
.man-message{
    position: fixed;
    width: 300px;
    background-color: #353535;
    z-index: 1;
    right: 100px;
    bottom: 10px;
    border-radius: 10px;
    border: 2px #ffffff solid;
    color: #ffffff;

}
.man-message p{
    text-align: center;
    margin: 25px 5px;
    color: #ffffff;
}

/*product filter*/
.berocket_aapf_widget_loading{
    background-color: #5f5f5f;
    opacity: 0.8;
}
.ui-slider-handle{
    width: 24px !important;
    height: 24px !important;
    outline: 0!important;
    top: -8px!important;
}
.ui-slider-range{
    background-color: #7F00FF!important;
}
.berocket_filter_slider{
    height: 7px!important;
}
.berocket_aapf_widget{
    padding: 5px!important;
}
















